*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    align-items: center;
    gap: 50px;
}

.card{
    background-color: #c46f6f;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 16px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.card:hover{
    transform: translateY(-20px);
} 

.card img{
    max-width: 100%;
    border-radius: 10px 10px;
}
.titulo{
    font-size: 18px;
    margin: 10px 0;
}
.texto{
    font-size: 20px;
    margin: 10px;
}

.boton1{
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
    background-color: #470505;
    color: white;
    transition: background-color 0.7s;
    cursor: pointer;
}
.boton1:hover{
    background-color: #0056b3;
}
    

.boton2{
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
    background-color: #470505;
    color: white;
    transition: background-color 0.7s;
    cursor: pointer;
}
.boton2:hover{
    background-color: #0056b3;
}   

.boton3{
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
    background-color: #470505;
    color: white;
    transition: background-color 0.7s;
    cursor: pointer;
}
.boton3:hover{
    background-color: #0056b3;
}   